.example-container {
  width: 100%;
  height: 100vh;
  border: 0px solid rgba(0, 0, 0, 0);
}

.example-sidenav-content {
  height: 100%;
}

.example-sidenav {
  padding: 10px;
  /* background: #000; */
}

/* .mat-list-item {
  color: #fff;
  font-size: 14px;
} */