.cards {
  column-count: 3;
  -webkit-column-count: 3;
  column-gap: 1;
  -webkit-column-gap: 1;
  padding: 10px;
}

.mat-card {
  display: inline-block;
  position: static;
  margin: 10px;
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  width: 90%;
}

.cards {
  background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.profileImg {
  width: 30px;
  height: 30px;
  border: 1px solid #ffffff82;
  border-radius: 50%;
  margin-right: 0.2rem;
}

.profileImgTitle {
font-weight: bold;
color: rgba(0,0,0,.87);
}


.avatar {
  display: flex;
  align-items: center;
}

.bt-black {
  color: #212121;
}
