<div class="container-fluid pt-0 pb-4 px-4">
  <div class="header-fixed" >
      <h2>Biografia</h2>
      <button mat-raised-button class="bt-update"><mat-icon>autorenew</mat-icon> Atualizar</button>
  </div>
  <div class="content">
    <div class="py-4" style="color: #3f51b5">
        <h6>Texto 1 - Português</h6>
        <div [froalaEditor]>Leia mais - Português</div>
      </div>
      <div class="py-4" style="color: #3f51b5">
        <h6>Texto 2 - Português</h6>
        <div [froalaEditor]>Nascida em São Paulo, Claudia Feres formou-se em composição e regência pela UNICAMP. Após um
          período em Cincinnati e Chicago, obteve o título de Mestre em música pela Northwestern University (Chicago) sob a
          orientação do maestro Victor Yampolsky. Estudou com Eleazar de Carvalho, Fábio Mechetti, Henrique Gregori, Teri
          Murai, Ronald Zollman, Gustav Meier, Robert Gutter e Jorma Panula.</div>
      </div>
      <div class="py-4" style="color: #3f51b5">
        <h6>Leia mais - Português</h6>
        <div [froalaEditor]>Nascida em São Paulo, Claudia Feres formou-se em composição e regência pela UNICAMP. Após um
          período em Cincinnati e Chicago, obteve o título de Mestre em música pela Northwestern University (Chicago) sob a
          orientação do maestro Victor Yampolsky. Estudou com Eleazar de Carvalho, Fábio Mechetti, Henrique Gregori, Teri
          Murai, Ronald Zollman, Gustav Meier, Robert Gutter e Jorma Panula.</div>
      </div>
  </div>
  

</div>